.commentContainer {
  border: 1px solid whitesmoke;
  padding: 0px 20px;
}

.commentHeader {
  padding-top: 10px;
  color: var(--accent-color);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.comment {
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* for line in container */
.quotedLine {
  color: green;
  font-weight: bold;
}

.deletedLine,
.isolatedLine {
  color: red;
}

.linkLine {
  color: #0645ad;
}

/* for container */
.withQuote {
}

.deleted {
}

.isolated {
}

.withUrl {
}

.popular {
  /* border: 1px solid red !important; */
}
