.footer {
  width: 100%;
  line-height: 50px;
  background-color: var(--main-color);
  color: var(--main-color);
  text-align: center;
  /* position: fixed; */
  /* bottom: 0; */
  /* z-index: 1; */
}
