.container {
  width: 100%;
  min-height: 100%;
  height: 100%;
  background-color: white;
}

.main {
  width: 100%;
  height: 100% !important;
  border: 1px solid blue;
  padding-top: 150px;
  padding-bottom: 50px;
  overflow-y: scroll;
}

.main::-webkit-scrollbar {
  display: none;
}
