.container {
  background-color: var(--base-color);
  overflow: 'hidden';
  border-radius: 4px;
}

/* NOT WORK: コンポーネント側で定義されているclassNameを参照してMUIのスタイルを上書きしたい */
/* ref: https://stackoverflow.com/questions/68530854/issue-with-global-css-module-selectors-not-being-pure-in-nextjs */
/* .textField :global { */
/* .MuiOutlinedInput-root {
    border-radius: 0px !important;
    overflow: hidden;
    background-color: white;
  } */
/* } */
